[phases.setup]
nixPkgs = ['nodejs']
cmds = [
  'corepack enable',
  'corepack prepare pnpm@8.15.1 --activate'
]

[phases.install]
cmds = [
  'pnpm install'
]

[phases.build]
cmds = [
  'cd packages/database && pnpm build',
  'cd ../../apps/api && pnpm build'
]

[start]
cmd = 'cd apps/api && pnpm start:prod'

[variables]
NODE_ENV = 'production'
NPM_CONFIG_REGISTRY = 'https://registry.npmjs.org'
NPM_CONFIG_STORE = '/root/.local/share/pnpm/store'
