[phases.setup]
nixPkgs = ['nodejs']
cmds = [
  'corepack enable',
  'corepack prepare pnpm@8.15.1 --activate'
]

[phases.install]
cmds = [
  'pnpm install',
  'cd packages/database && pnpm prisma generate && cd ../..',
  'cd apps/api && pnpm prisma generate && cd ../..',
  'pnpm install'
]

[phases.build]
cmds = [
  'cd packages/database && pnpm build && cd ../..',
  'cd apps/api && pnpm build'
]

[start]
cmd = 'cd apps/api && NODE_ENV=production pnpm start:prod'

[variables]
NODE_ENV = 'production'
NPM_CONFIG_REGISTRY = 'https://registry.npmjs.org'
NPM_CONFIG_STORE = '/root/.local/share/pnpm/store'

[build.env]
PRISMA_SCHEMA_ENGINE_BINARY = '/root/.cache/prisma/master/schema-engine-debian-openssl-1.1.x'
PRISMA_QUERY_ENGINE_BINARY = '/root/.cache/prisma/master/libquery_engine-debian-openssl-1.1.x.so.node'
PRISMA_QUERY_ENGINE_LIBRARY = '/root/.cache/prisma/master/libquery_engine-debian-openssl-1.1.x.so.node'
PRISMA_ENGINE_PROTOCOL = 'graphql'
SKIP_PRISMA_POSTINSTALL = 'true'
