[phases.setup]
nixPkgs = ['nodejs']
cmds = [
  'npm install -g pnpm@8.15.1'
]

[phases.install]
cmds = [
  'pnpm install --no-frozen-lockfile'
]

[phases.build]
cmds = [
  'pnpm build'
]

[start]
cmd = 'cd apps/api && pnpm start:prod'

[variables]
NODE_ENV = 'production'
